
.navbar.navbar-start {
  background-color: #2c3e50;
}
/* ======================end-heder====================================== */
.splash {
  text-align:center;
  background-color: #18bc9c;
  color: #fff;
}
.splash content {
font-size: 40px;
}
.splash p {
  font-size: 30px;
  padding-bottom: 50px;
}
h1 {
    font-weight: bold;
    padding-top: 40px;
    font-size: 80px;
}
.container.imeges {
  text-align:center;
}
.container.imeges content {
  font-size: 40px;
}
.container.imeges h2 {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 50px;
}
.images_item {
  padding: 10px;
}
.container_img {
  position: relative;
}
.green_hover {
  position: absolute;
  background-color: rgb(24,188,156);  /*такая кодировка цвета, но без компонента
                                   прозрачности,нужна для плавного перехода.
                                    И еще добавляем отдельно прозрачность =0;*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #18bc9c; */   /*это будет отрабатывать без плавного перехода*/
  opacity: 0;  /*эта прозрачность нужна для организации плавного перехода*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* display: none; */      /*это будет отрабатывать без плавного перехода*/
  transition: all ease .5s; /*это отработка плавного перехода*/
}
div.container_img:hover div.green_hover {
  /* display: block; */    /*это будет отрабатывать без плавного перехода*/
  opacity: 0.95;   /*эта прозрачность будет у элемента после наведения мышки*/
}
.glyphicon-zoom-in {
  font-size: 500%;
  color: #fff;
  opacity: 0.5;
}
.row.first {
  background-color: #2c3e50;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
}
.row.first h3 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom:15px;
}
.row.first p {
  text-align: center;
  font-size: 135%;
}
.row.first p a {
  color: rgb(24,188,156);
}
.row.second {
  background-color: #1a252f;
  color: #fff;
  padding-top:30px;
  padding-bottom:30px;
  position: relative;
}
.social-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:center;
}
.social-menu>li>a {
  display: flex;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.social-menu>li>a:hover {
  background-color: #fff;
}
.social-menu>li>a:hover>i {
  color:#2c3e50;
}
